# Gradle
.gradle/
build/

# Local configuration
local.properties

# Kotlin
.kotlin/

# IDE
.idea/
*.iml
.vscode/

# Android
captures/
.externalNativeBuild/
.cxx/
*.apk
*.aab
*.jks
*.keystore

# OS
.DS_Store
